<div class="card" *ngFor="let myMusica of myMusic">
    <img class="card-img-top img-fluid" [src]="myMusica.images | noimage">
    <div class="card-body">
        <h5 class="card-title">{{ myMusica.name }}</h5>
        <!-- <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
        <div class="space">
            <span *ngFor="let item of myMusica.genres" class="badge badge-info"> {{item}} </span>
        </div>
        <button type="button" (click)="verArtista(myMusica)" class="btn btn-outline-primary btn-block"> Ver más... </button>
    </div>
</div>